body {
    background-image: none;
}

main {
    padding: 5rem 0;
}

.content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-wrapper h1 {
    margin-bottom: 1rem;
}

.ascii-art {
    margin-bottom: 1rem;
}
