* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Backgrounds */
    --bg-primary: #eff1f5;
    --bg-secondary: #dfe3eb;
    --bg-tertiary: #c0c8d8;

    /* Text */
    --text-primary: #4c4f69;
    --text-secondary: #5c6076;

    /* Accent colors */
    --accent-1: #d20f39;
    --accent-2: #40a02b;
    --accent-3: #df8e1d;
    --accent-4: #0f80d5;
    --accent-5: #8839ef;
    --accent-6: #179299;

    /* Semantic tokens */
    --color-success: var(--accent-2);
    --color-warning: var(--accent-3);
    --color-danger: var(--accent-1);
    --color-info: var(--accent-6);
    --color-accent: var(--accent-3);

}

:root[data-theme=dark] {
    /* Backgrounds */
    --bg-primary: #1e1e2e;
    --bg-secondary: #313244;
    --bg-tertiary: #616587;

    /* Text */
    --text-primary: #eff1f5;
    --text-secondary: #ccd0da;
}

body {
    font-family: sans-serif;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    background-image: url("/images/background.png");
    background-blend-mode: screen;
}

a {
    color: var(--color-accent);
}

a:hover {
    color: var(--color-accent);
}

a:active,
a:visited {
    color: var(--color-accent);
}

.container {
    max-width: 800px;
    padding: 0 1rem;
    margin: 0 auto;
}

a.back-btn {
    text-decoration: none !important;
    color: var(--text-secondary);
    transition: color 0.25s ease-in-out;
}

a.back-btn:hover {
    color: var(--text-primary);
}

nav {
    background-color: var(--bg-secondary);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    text-align: center;
}

nav .logo {
    text-decoration: none;
    color: var(--color-accent);
}

nav .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

nav .links a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 1.25rem 0.25rem;
    color: var(--text-secondary);
    transition: color 0.25s ease-in-out;
}

nav .links a.active,
nav .links a:hover {
    color: var(--text-primary);
}

nav .links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width 0.25s ease-in-out;
}

nav .links a.active::before,
nav .links a:hover::before {
    width: 100%;
}

nav .links .toggle-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

nav .links .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

nav .links .toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-tertiary);
    transition: background-color 0.2s;
    border-radius: 34px;
}

nav .links .toggle-label:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: transform 0.2s;
    border-radius: 50%;
}

nav .links .toggle-input:checked + .toggle-label {
    background-color: var(--accent-4);
}

nav .links .toggle-input:checked + .toggle-label:before {
    transform: translateX(24px);
}

main {
    margin: 1rem 0;
}

footer {
    background-color: var(--bg-secondary);
    padding: 1rem 0;
}

footer {
    text-align: center;
}
