* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Backgrounds */
    --color-bg-primary: #1e1e2e; /* Base */
    --color-bg-secondary: #181825; /* Mantle */
     /* Crust */

    /* Text colors */
    --color-text-primary: #cdd6f4; /* Text */
    --color-text-secondary: #a6adc8; /* Subtext1 */
    --color-text-tertiary: #9399b2; /* Subtext0 */
    --color-text-muted: #11111b; /* Overlay1 */

    /* Borders and surfaces */
    --color-border: #45475a; /* Surface1 */
    --color-surface: #313244; /* Surface0 */

    /* Accents / UI States */
    --color-accent: #89b4fa; /* Blue */
    --color-accent-hover: #74c7ec; /* Sky */
    --color-accent-muted: #89dceb; /* Sapphire */

    --color-success: #a6e3a1; /* Green */
    --color-warning: #f9e2af; /* Yellow */
    --color-danger: #f38ba8; /* Red */
    --color-info: #94e2d5; /* Teal */

    --color-notice: #fab387; /* Peach */
    --color-special: #cba6f7; /* Mauve */
    --color-highlight: #f5c2e7; /* Pink */
}

body {
    font-family: sans-serif;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    background-image: url("/images/background.png");
    background-blend-mode: screen;
}

a {
    color: var(--color-accent);
}

a:hover {
    color: var(--color-accent-hover);
}

a:active,
a:visited {
    color: var(--color-accent-muted);
}

.container {
    max-width: 800px;
    padding: 0 1rem;
    margin: 0 auto;
}

a.back-btn {
    text-decoration: none !important;
    color: var(--color-text-tertiary);
    transition: color 0.25s ease-in-out;
}

a.back-btn:hover {
    color: var(--color-text-secondary);

}

nav {
    background-color: var(--color-bg-secondary);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    text-align: center;
}

nav .logo {
    text-decoration: none;
    color: var(--color-accent);
}

nav .links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav .links a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 1.25rem 0.25rem;
    color: var(--color-text-secondary);
    transition: color 0.25s ease-in-out;
}

nav .links a.active,
nav .links a:hover {
    color: var(--color-text-primary);
}

nav .links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width 0.25s ease-in-out;
}

nav .links a.active::before,
nav .links a:hover::before {
    width: 100%;
}

main {
    margin: 1rem 0;
}

footer {
    background-color: var(--color-bg-secondary);
    padding: 1rem 0;
}

footer {
    text-align: center;
}
